extends layout
block content
  nav
    ul.nav.nav-tabs
        if title == "Search the Library"
          li.nav-item: a(href="/search" class="nav-link active") Search
        else
          li.nav-item: a(href="/search" class="nav-link") Search

        if title == "Add Book"
          li.nav-item: a(href="/add-book" class="nav-link active") Add Book
        else
          li.nav-item: a(href="/add-book" class="nav-link") Add Book

        if title == "Delete Entry"
          li.nav-item: a(href="/delete-book" class="nav-link active") Delete Entry
        else
          li.nav-item: a(href="/delete-book" class="nav-link") Delete Entry

  div.page-wrapper
    h1= title
    p.info Fill the form bellow to add books to the Library Database
    div.input-group.col-md-4.d-flex.flex-column.col-centered.author-list
      div.d-flex.flex-row
        div(class="input-group-prepend")
          span.input-group-text#inputGroup-sizing Book Title:
        input(type="text" name="title" class="form-control" id="add-book" aria-label="default" aria-describedby="inputGroup-sizing-md")
      div.d-flex.flex-row
        div(class="input-group-prepend")
          span.input-group-text#inputGroup-sizing ISBN:
        input(type="text" name="isbn" class="form-control" id="add-isbn" aria-label="default" aria-describedby="inputGroup-sizing-md")
      div.d-flex.flex-row
        div(class="input-group-prepend")
          span.input-group-text#inputGroup-sizing Author:
        input(type="text" name="name" class="add-author-0 form-control" aria-label="Medium" aria-describedby="inputGroup-sizing-md")
      div.new-authors.input-group.col-md-4.d-flex.flex-column.col-centered
        .more-container
      button.justify-content-md-center#more-authors Add another author
    div.d-flex.flex-row.justify-content-md-end
      input(type='button' value='Add' class="btn btn-primary btn-success" id="add-button")
    .add-status

  //- div.form-container
  //-   form.add-form
  //-     input(type="hidden" name="type" value="book")
  //-     | Title:
  //-     input(type="text" name="title" placeholder="Book title")#add-book
  //-     | ISBN:
  //-     input(type="text" name="isbn" placeholder="ISBN")#add-isbn
  //-     | Author:
  //-     input(type="text" name="name" placeholder="Author").add-author-0
  //-     input(type="button" value="Add")#add-button
  //-   button#more-author Add another authors
  //-   //- missing an S above^

  script(src="/javascripts/script.js")
