extends layout

block navigation
  nav
    ul.nav.nav-tabs
        if title == "Search the Library"
          li.nav-item: a(href="/search" class="nav-link active") Search
        else
          li.nav-item: a(href="/search" class="nav-link") Search

        if title == "Add Book"
          li.nav-item: a(href="/add-book" class="nav-link active") Add Book
        else
          li.nav-item: a(href="/add-book" class="nav-link") Add Book

        if title == "Delete Entry"
          li.nav-item: a(href="/delete-book" class="nav-link active") Delete Entry
        else
          li.nav-item: a(href="/delete-book" class="nav-link") Delete Entry


block content
  h1= title
  p Welcome to #{title}
  p.info Please fill the form bellow to delete an entry from the library catalog.
  form.search-form
    input(type='hidden' name='type' value='book')
    | Title:
    input(type='text' name='title' placeholder='Book title')#search-book
    | ISBN:
    input(type='text' name='isbn' placeholder='ISBN')#search-isbn
    | Author:
    input(type='text' name='name' placeholder='Author')#search-author
    input(type='button' value='Search')#search-del-button

  h1 Results
  .results-output
    ul.search-ul
            //- Perhaps what's bellow should appear after search?
  h1 Delete Entry
  input(type='button' value='Delete')#delete-entry

  script(src="/javascripts/script.js")
