extends layout

block content
  div.page-wrapper
    h1= title
    p.alert.alert-warning This is a fake website.
    p.info This an assestment for University.  This University does not exist, nor does any of these books or users.  The sqlite database and the backend that manages it was provided to us as part of this assestment by: 
      a(href="https://www.cardiff.ac.uk/people/view/118120-chorley-martin" class="link") Dr. Martin Chorley
      | .

    p The code for this Website can be found at 
      a(href="https://github.com/ajcastany/cw2-librarysrv" class="link") GitHub.com
      | .

