extends layout

block mininavbar
  nav
    ul
      #title
        if title == "Search the Library"
          li: a(href="/search" style={background: 'blue'}) Search
        else
          li: a(href="/search" style={}) Search

        if title == "Add Book"
          li: a(href="/add-book" style={color:'red'}) Add Book
        else
          li: a(href="/add-book") Add Book
