extends layout

block content
  nav
    ul.nav.nav-tabs
        if title == "Search the Library"
          li.nav-item: a(href="/search" class="nav-link active") Search
        else
          li.nav-item: a(href="/search" class="nav-link") Search

        if title == "Add Book"
          li.nav-item: a(href="/add-book" class="nav-link active") Add Book
        else
          li.nav-item: a(href="/add-book" class="nav-link") Add Book

        if title == "Delete Entry"
          li.nav-item: a(href="/delete-book" class="nav-link active") Delete Entry
        else
          li.nav-item: a(href="/delete-book" class="nav-link") Delete Entry

  div.page-wrapper
    h1= title
    p Welcome to #{title}
    p.info Please fill the form bellow to search the library catalog.
    div.input-group.col-md-4.d-flex.column.col-centered
      div.d-flex.flex-row
        div(class="input-group-prepend")
          span.input-group-text#inputGroup-sizing Book Title:
        input(type="text" class="form-control" id="search-book" aria-label="default" aria-describedby="inputGroup-sizing-md")
      div.d-flex.flex-row
        div(class="input-group-prepend")
          span.input-group-text#inputGroup-sizing ISBN: 
        input(type="text" class="form-control" id="search-isbn" aria-label="default" aria-describedby="inputGroup-sizing-md")
      div.d-flex.flex-row
        div(class="input-group-prepend")
          span.input-group-text#inputGroup-sizing Author: 
        input(type="text" class="form-control" id="search-author" aria-label="default" aria-describedby="inputGroup-sizing-md")
      div.d-flex.flex-row
        input(type='button' value='Search' class="btn btn-primary")#search-button

    .results-output
      ul.search-ul

  script(src="/javascripts/script.js")

//- Bellow are examples of api calls.

//- http://localhost:3000/search/search?type=book&title=how
//- http://localhost:3000/search/search?book=&author=
//- http://localhost:3000/search?title=&author=asdf
//- http://localhost:3000/api/search?type=book&title=how&author=arthur

//- http://localhost:3000/api/search?type=book&title=&isbn=&author=

//- http://localhost:3000/api/search?type=author&name=arthur
//- http://localhost:3000/api/search?author&name=arthur
  //- From a time before Bootstrap:
  //- form.search-form
  //-   input(type='hidden' name='type' value='book')
  //-   | Title: 
  //-   input(type='text' name='title' placeholder='Book title')#search-book
  //-   | ISBN:
  //-   input(type='text' name='isbn' placeholder='ISBN')#search-isbn
  //-   | Author:
  //-   input(type='text' name='name' placeholder='Author')#search-author
  //-   input(type='button' value='Search')#search-button
