extends layout

block content
  nav.navigation
    ul.nav.nav-tabs
      if title == "Users"
        li.nav-item: a(href="/users" class="nav-link active") Search Users
      else
        li.nav-item: a(href="/users" class="nav-link") Search Users

      if title == "Add User"
        li.nav-item: a(href="/add-user" class="nav-link active") Add User
      else
        li.nav-item: a(href="/add-user" class="nav-link") Add User
      if title == "Delete User"
        li.nav-item: a(href="/delete-user" class="nav-link active") Delete User
      else
        li.nav-item: a(href="/delete-user" class="nav-link") Delete User
      if title == "Update Users"
        li.nav-item: a(href="/update-user" class="nav-link active") Update User
      else
        li.nav-item: a(href="/update-user" class="nav-link") Update User

  div.page-wrapper
    h1= title
    p Welcome to User Search
    p.info Please fill the form bellow to search the library user catalog.
    div.input-group.col-md-4.d-flex.column.col-centered
      div.d-flex.flex-row
        div(class="input-group-prepend")
          span.input-group-text#inputGroup-sizing User Name
        input(type="text" class="form-control" id="search-user" aria-label="default" aria-describedby="inputGroup-sizing-md")
      div.d-flex.flex-row
        div(class="input-group-prepend")
          span.input-group-text#inputGroup-sizing Barcode:
        input(type="text" class="form-control" id="search-barcode" aria-label="default" aria-describedby="inputGroup-sizing-md")
      div.d-flex.flex-row
        div(class="input-group-prepend")
          span.input-group-text#inputGroup-sizing Member:
        select.custom-select#search-select
          option(value=" ") Any...
          option(value="Student") Student
          option(value="Staff") Staff
        //- input(type="text" class="form-control" id="search-author" aria-label="default" aria-describedby="inputGroup-sizing-md")
      div.d-flex.flex-row
        input(type='button' value='Search' class="btn btn-primary")#search-user-button

    .results-output
      ul.search-ul
  script(src="/javascripts/users-script.js")
